---
import Card from "../components/Card.astro";
import Section from "../components/Section.astro";
import MainLayout from "../layouts/MainLayout.astro";

const skills = [
{
    image: {
      url: "https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png",
      alt: "Javascript logotype",
    },
    title: "Javascript",
    experience: 5,
  },
  {
    image: {
      url: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png",
      alt: "React logotype",
    },
    title: "React",
    experience: 4,
  },
  {
    image: {
      url: "https://pbs.twimg.com/profile_images/1026981625291190272/35O2KIRX_400x400.jpg",
      alt: "Jira logotype",
    },
    title: "Agile",
    experience: 4,
  },
  {
    image: {
      url: "https://cdn.worldvectorlogo.com/logos/typescript.svg",
      alt: "Typescript logotype",
    },
    title: "Typescript",
    experience: 3,
  },
  {
    image: {
      url: "https://w7.pngwing.com/pngs/956/695/png-transparent-mongodb-original-wordmark-logo-icon-thumbnail.png",
      alt: "MongoDB logotype",
    },
    title: "MongoDB",
    experience: 3,
  },
  {
    image: {
      url: "https://avatars.githubusercontent.com/u/44914786?s=280&v=4",
      alt: "Astro JS logotype",
    },
    title: "Astro",
    experience: 2,
  },
  {
    image: {
      url: "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Svelte_Logo.svg/199px-Svelte_Logo.svg.png",
      alt: "Sveltekit logotype",
    },
    title: "Svelte/kit",
    experience: 1,
  },
  {
    image: {
      url: "https://pbs.twimg.com/profile_images/1365435380758163456/MwryCZuw_400x400.png",
      alt: "Rust logotype",
    },
    title: "Rust",
    experience: 1,
  },
];
---

<MainLayout title="Karl Edenstål">
  <Section title="About me" emoji="👋">
    hejj
  </Section>
  <Section title="Skills" emoji="📚">
    {skills.map((skill) => <Card {...skill} />)}
  </Section>
</MainLayout>
