---
import TemplateRow from "../components/TemplateRow.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Karl Edenstål">
  <div class="flex flex-col">
    <TemplateRow label="Skills" content="hej" />
    <TemplateRow label="Experiences" content="hej" />
		<TemplateRow label="Interests" content="hej" />
  </div>
</MainLayout>
