---
type Props = {
  image: {
    url: string;
    alt?: string;
  }
  title: string;
  experience: number;
}

const { image, title, experience } = Astro.props;

const restBar = 5 - experience;
---

<div class="bg-zinc-950 text-white rounded-md shadow-md p-4 flex gap-2 items-center">
  <img class="w-16 rounded-md" src={image.url} alt={image.alt}>
  <div class="flex-1 px-2">
    <h3 class="font-cubano text-2xl sm:text-xl">{title}</h3>
    <div class="w-full grid grid-cols-5 gap-1 mt-2">
      {Array(experience).fill(null).map(() => (
        <div class="rounded-md bg-rose-500 h-2"></div>
      ))}
      {Array(restBar).fill(null).map(() => (
        <div class="rounded-md bg-zinc-600 h-2"></div>
      ))}
    </div>
  </div>
</div>