---
export type Props = {
  label: string;
  content: string;
};

const { label, content } = Astro.props;
---

<div class="flex justify-center mb-16">
  <div class="w-full max-w-xs">
    <h2 class="font-ogg text-5xl">{label}</h2>
  </div>
  <div class="flex-grow">{content}</div>
</div>
