---
export type Props = {
  classes?: string;
};

const { classes } = Astro.props;
---

<div class={`flex items-center justify-center mb-10 ${classes}`}>
  <div class="bg-indigo-600 w-40 h-full"></div>
  <div class="bg-red-500 w-40 h-full"></div>
  <div class="bg-amber-500 w-40 h-full"></div>
</div>
