---
export type Props = {
  title: string;
  meta?: {
    name?: string;
    content?: string;
  }[];
};

const { title, meta } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    {meta?.map(({ name, content }) => <meta name={name} content={content} />)}
    <title>{title}</title>
  </head>
  <body>
    <main class="p-10 w-full max-w-6xl mx-auto relative">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Cubano";
    src: url("/fonts/cubano-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html, body {
    height: 100%;
  }

  body {
    @apply font-quicksand bg-indigo-950;
    /* background-image: linear-gradient(
      to right,
      rgb(79 70 229) 0%,
      rgb(79 70 229) 33.33%,
      rgb(239 68 68) 0,
      rgb(239 68 68) 66.66%,
      rgb(245 158 11) 0
    );
    background-size: 480px;
    background-repeat: no-repeat;
    background-position: center; */
    margin: 0;
  }
</style>
