---
import VHSStripes from "../components/VHSStripes.astro";

export type Props = {
  title: string;
  meta?: {
    name?: string;
    content?: string;
  }[];
};

const { title, meta } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    {meta?.map(({ name, content }) => <meta name={name} content={content} />)}
    <title>{title}</title>
  </head>
  <body class="flex flex-col h-full">
    <main class="w-full max-w-7xl mx-auto relative">
      <VHSStripes classes="h-5" />
      <slot />
    </main>
    <footer class="flex-grow">
      <VHSStripes classes="flex-grow h-full" />
    </footer>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "OggRoman";
    src: url("/fonts/Ogg-Roman.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply bg-fixed bg-cover bg-amber-100 font-quicksand;
  }
</style>
